* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
  color: rgba(0,0,0,.87);
  font-family: "microsoft yahei";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  font-family: inherit;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 4px 0 4px;
  background: transparent;
  outline: none;
  color: inherit;
}
input:focus {
  border-bottom: 2px solid #2196f3;
  padding-bottom: 3px;
}
h1 {
  font-size: 20px;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
svg {
  fill: currentcolor;
}
.card {
  box-shadow: 0 2px 8px rgba(0,0,0,.12), 0 4px 16px rgba(0,0,0,.12);
}
button {
  font-family: inherit;
}
.btn {
  border: none;
  background: none;
  margin: 8px;
  padding: 0 8px;
  min-width: 64px;
  line-height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #2196F3;
  cursor: pointer;
  border-radius: 2px;
}
.btn:focus {
  border: none;
  padding-bottom: 0;
}
.btn-primary {
  background: #2196F3;
  color: #fff;
  font-weight: 500;
}
.dangerious,
.bar.delete {
  color: #F44336!important;
}
.icon {
  color: rgba(0,0,0,.54);
  color: #2196F3;
  cursor: pointer;
}
.fab {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #2196f3;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 24px;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,.07), 0 8px 16px rgba(0,0,0,.14);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}
.fab:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,.14), 0 8px 16px rgba(0,0,0,.28);
}
.fab .icon {
  color: #fff;
}
.md-dark { color: rgba(0, 0, 0, 0.54); }
.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.stage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.page {
  margin: 56px;
  min-width: 1200px;
  border-radius: 2px;
}
.page.table {
  border: 1px solid rgba(0,0,0,.12);
  background: #fff;
}
.page.setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.row {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}
.row.data {
  height: 48px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.row.data:hover {
  background: #eee;
}

.row.header {
  height: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row.footer {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.name {
  height: 56px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
}
.cell {
  font-size: 13px;
  cursor: default;
  -webkit-box-flex: 2;
      -ms-flex: 2 0;
          flex: 2 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-right: 40px;
  /*background: #eee;*/
  position: relative;
  z-index: 8;
}
.cell:last-child {
  margin-right: 0;
}
.cell.id { -webkit-box-flex: 1; -ms-flex: 1 0 2em; flex: 1 0 2em; }
.cell.username { -webkit-box-flex: 1; -ms-flex: 1 0 5em; flex: 1 0 5em; }
.cell.password { -webkit-box-flex: 1; -ms-flex: 1 0 4em; flex: 1 0 4em; }
.cell.tel { -webkit-box-flex: 1; -ms-flex: 1 0 7em; flex: 1 0 7em;}
.cell.device { -webkit-box-flex: 2; -ms-flex: 2 0 20em; flex: 2 0 20em; white-space: normal;}
.cell.addr { -webkit-box-flex: 2; -ms-flex: 2 0 17em; flex: 2 0 17em; white-space: normal;}
.cell.time { -webkit-box-flex: 1; -ms-flex: 1 0 8em; flex: 1 0 8em;}
.cell.edit { -webkit-box-flex: 1; -ms-flex: 1 0 56px; flex: 1 0 56px;}

.edit .icon { opacity: 0;}
.row .icon { margin-right: 16px; }
.row .icon:last-child { margin-right: 0; }
.row:hover .icon { opacity: 1;}

input.cell {
  border: none;
}

.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  background: tomato;
  opacity: .5;
}
/*编辑数据*/
.bar {
  box-shadow: 0 0px 30px rgba(0,0,0,.2);
  position: relative;
  z-index: 4;
  -webkit-transition: box-shadow .2s;
  transition: box-shadow .2s;
}
.bar,
.row.bar:hover {
  background: #fff;
}
.bar.hide {
  visibility: hidden;
  box-shadow: 0 0px 30px rgba(0,0,0,0);
}
.bar input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  font-size: 13px;
}
.bar .icon {
  opacity: 1;
}


/*工具栏*/
.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.54);
}
.tools .icon {
  margin-right: 24px;
}

/*添加条目*/
.input-area {
  position: relative;
}
.input-area .line {
  content: '';
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 2px;
  background: #2196f3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .15s;
  transition: .15s;
}
.input-area input {
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  padding: 16px 0 8px 0;
  margin-bottom: 8px;
  width: 100%;
  font-size: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
input:focus+.line {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.dialogue {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0,0,0,.54);
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  z-index: 8;
}
.dislogue.show {

}
.dialogue.hide {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity .2s, -webkit-transform 0s .2s;
  transition: opacity .2s, -webkit-transform 0s .2s;
  transition: opacity .2s, transform 0s .2s;
  transition: opacity .2s, transform 0s .2s, -webkit-transform 0s .2s;
}
.dialogue .card {
  position: fixed;
  width: 448px;
  background: #fff;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.dialogue.hide .card {
  -webkit-transform: scale(.9);
          transform: scale(.9);
}
.dialogue .title {
  margin: 24px;
  font-size: 20px;
}
.dialogue .content {
  margin: 24px;
}
.dialogue .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*导航*/
.page-header {
  background: #333;
  color: #fff;
  height: 48px;
}
.page-header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 56px;
}
.page-header input {
  border-color: #fff;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-item-group {
  padding: 8px 0;
  border-top: 1px solid rgba(0,0,0,.12);
  margin-top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-item {
  height: 48px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  cursor: pointer;
  opacity: .8
}
.nav-item:hover {
  background: rgba(255,255,255,.05);
}
.nav-item.true {
  opacity: 1;
  border-bottom: 2px solid #2196f3;
}

/*设置*/
.setting .row {
  padding: 0;
}
.setting-item {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.setting-item .item-name {
  margin-right: 8px;
  font-size: 12px;
  color: rgba(0,0,0,.54)
}
.setting .group {
  margin-bottom: 56px;
  margin-right: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  background: #fff;
  border-radius: 2px;
  padding: 24px;
}
.setting .group:last-child {
  margin-right: 0;
}
.group h1 {
  height: 64px;
}
.subheader {
  font-size: 14px;
  line-height: 48px;
  color: rgba(0,0,0,.54);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.palette {
  width: 2em;
  height: 1em;
  border-radius: 2px;
  position: absolute;
  bottom: 4px;
  right: 0;
}

/*toast*/
.toast {
  height: 48px;
  min-width: 288px;
  max-width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  background: #323232;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 24px;
  -webkit-transform: translateY(72px);
          transform: translateY(72px);
  z-index: 6;
}
.toast.show {
  -webkit-animation: toast-show 5s;
          animation: toast-show 5s;
}
@-webkit-keyframes toast-show {
  5%,95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
  }
}
@keyframes toast-show {
  5%,95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
  }
}
