* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
  color: rgba(0,0,0,.87);
  font-family: "microsoft yahei";
  display: flex;
  height: 100vh;
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  font-family: inherit;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 4px 0 4px;
  background: transparent;
  outline: none;
}
input:focus {
  border-bottom: 2px solid #2196f3;
  padding-bottom: 3px;
}
h1 {
  font-size: 20px;
  font-weight: 500;
  flex: 1 1 100%;
}
svg {
  fill: currentcolor;
}
.card {
  box-shadow: 0 2px 8px rgba(0,0,0,.12), 0 4px 16px rgba(0,0,0,.12);
}
.btn {
  border: none;
  background: none;
  margin: 8px;
  padding: 0 8px;
  min-width: 64px;
  line-height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #2196F3;
  cursor: pointer;
  border-radius: 2px;
}
.btn-primary {
  background: #2196F3;
  color: #fff;
  font-weight: 500;
}
.icon {
  color: rgba(0,0,0,.54);
  color: #2196F3;
  cursor: pointer;
}
.md-dark { color: rgba(0, 0, 0, 0.54); }
.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.stage {
  flex: 1 0 1100px;
  order: 1;
  height: 100%;
  overflow: auto;
}
.page {
  margin: 56px;
  min-width: 1100px;
  border-radius: 2px;
}
.page.table {
  border: 1px solid rgba(0,0,0,.12);
  background: #fff;
}
.page.setting {
  display: flex;
  align-items: flex-start;
}
.row {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.row.data {
  height: 48px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  transform: translateY(-100%);
}
.row.data:hover {
  background: #eee;
}

.row.header {
  height: 64px;
  justify-content: space-between;
}
.row.footer {
  height: 56px;
  display: flex;
  justify-content: flex-end;
}
.name {
  height: 56px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
}
.cell {
  font-size: 13px;
  cursor: default;
  flex: 2 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  margin-right: 56px;
  /*background: #eee;*/
}
.cell:last-child {
  margin-right: 0;
}
.cell.id { flex: 1 0 1em; }
.cell.username { flex: 1 0 5em; }
.cell.password { flex: 1 0 5em; }
.cell.tel { flex: 1 0 7em;}
.cell.device { flex: 1 0 4em;}
.cell.addr { flex: 2 0 16em; }
.cell.time { flex: 1 0 7em;}
.cell.edit { flex: 1 0 24px;}

.edit .icon { opacity: 0;}
.row:hover .icon { opacity: 1;}


input.cell {
  border: none;
}
/*编辑数据*/
.bar {
  box-shadow: 0 0px 30px rgba(0,0,0,.2);
  position: relative;
  z-index: 6;
  transition: box-shadow .2s;
}
.bar,
.row.bar:hover {
  background: #fff;
}
.bar.hide {
  visibility: hidden;
  box-shadow: 0 0px 30px rgba(0,0,0,0);
}
.bar input {
  flex: 1 0 100%;
  font-size: 13px;
}
.bar .icon {
  opacity: 1;
}


/*工具栏*/
.tools {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
}
.tools .icon {
  margin-right: 24px;
}

/*添加条目*/
.input-area {
  position: relative;
}
.input-area .line {
  content: '';
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 2px;
  background: #2196f3;
  transform: scaleX(0);
  transition: .15s;
}
.input-area input {
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  padding: 16px 0 8px 0;
  margin-bottom: 8px;
  width: 100%;
  font-size: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
input:focus+.line {
  transform: scaleX(1);
}
.dialogue {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.54);
  transition: opacity .2s;
}
.dislogue.show {

}
.dialogue.hide {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity .2s, transform 0s .2s;
}
.dialogue .card {
  position: fixed;
  width: 448px;
  background: #fff;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
  transition: transform .2s;
}
.dialogue.hide .card {
  transform: scale(.9);
}
.dialogue .title {
  margin: 24px;
  font-size: 20px;
}
.dialogue .content {
  margin: 24px;
}
.dialogue .action {
  display: flex;
  justify-content: flex-end;
}

/*导航*/
.side-nav {
  flex: 0 0 280px;
  background: #333;
  color: #fff;
  height: 100vh;
  border-right: 1px solid rgba(0,0,0,.12)
}
.nav-item-group {
  padding: 8px 0;
  border-top: 1px solid rgba(0,0,0,.12);
  margin-top: -1px;
}
.nav-item {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.nav-item:hover {
  background: rgba(0,0,0,.05);
}

/*设置*/
.setting .row {
  padding: 0;
}
.setting-item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.setting-item .item-name {
  margin-right: 8px;
  font-size: 12px;
  color: rgba(0,0,0,.54)
}
.setting .group {
  margin-bottom: 56px;
  margin-right: 40px;
  flex: 1 0;
  background: #fff;
  border-radius: 2px;
  padding: 24px;
}
.setting .group:last-child {
  margin-right: 0;
}
.group h1 {
  height: 64px;
}
.subheader {
  font-size: 14px;
  line-height: 48px;
  color: rgba(0,0,0,.54);
  flex: 1 0 100%;
}
.palette {
  width: 2em;
  height: 1em;
  border-radius: 2px;
  position: absolute;
  bottom: 4px;
  right: 0;
}
